html, body {
	position: relative;
	width: 100%;
	height: 100%;
	font-size: 24px;
}

body {
	color: #333;
	margin: 0;

	box-sizing: border-box;
	font-family: calibri, sans-serif;
}

h1 {
	font-size: 64px;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 1rem;
    margin-top: 0rem;
}

h2 {
	font-size: 36px;
    font-weight: bold;
    line-height: 1.1;
    margin-bottom: 1rem;
    margin-top: 2rem;
}

h3 {
	font-size: 28px;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 1rem;
    margin-top: 2rem;
}

p {
	font-size: 24px;
	font-family: calibri;
	line-height: 1.1;
	margin-bottom: 24px;
}

.passage-text {
	line-height: 1.4;
}

.caption {
	font-size: 22px;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
}


li {
	font-size: 24px;
    font-family: calibri;
    line-height: 1.1;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
	margin: 0;
	cursor: pointer;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

.toolbar-button:hover {
	background-color: #f8f8f8 !important;
}

.highlight-button {
	padding: 0px 4px 0px 4px;
	color: rgb(0, 100, 232);
	background-color: white;
	border-radius: 4px;
}


.layout {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	max-width: 1366px;
	margin: auto;
	width: 100%;
	background-color: white;
	flex: 1; /* New: Makes the .layout take up the remaining space */

}

.panel {
	transition: flex-basis 0.3s ease;

	height: calc(100vh - 60px); /* Subtract the height of the toolbar */
	overflow-y: auto; /* Enable vertical scrolling */
	padding: 1.5rem;
	box-sizing: border-box; /* Includes padding and border in the element's total width and height */
	flex: 1.6;
	border-right: 1px solid #c7c7c7;
  }

  .tab-panel {
	flex: 2;
	overflow-y: auto; /* Enable vertical scrolling */
	height: calc(100vh - 60px);
	box-sizing: border-box; /* New: Includes padding and border in the element's total width and height */
  }



.speech-bubbles-container.scrollable {
	overflow-y: auto;
}

.speech-bubbles-container.flex-start {
	justify-content: flex-start !important;
}

.speech-bubbles-container.hidden {
	visibility: hidden !important; /* Hide the container when height is exceeded */
	position: absolute !important; /* Position it absolutely */
	width: 60% !important; /* Set width to 60% */
	overflow: auto;
}
/* for avatar component text */
.text-content.bubble .first-paragraph {
	margin-top: 0; /* Remove top margin for the first paragraph */
}

.text-content.bubble .last-paragraph {
	margin-bottom: 0; /* Remove bottom margin for the last paragraph */
}


.text-content.bubble {
	border: 1px solid rgb(144, 144, 144);
    box-shadow: 0 calc(2px* var(--zoom)) calc(3px* var(--zoom)) rgba(0, 0, 0, .25);
	border-radius: 0.5em !important;
	margin: 0 0 0 .5rem !important;
}




* {
    scrollbar-width: 18px;  
    scrollbar-color: #2478CC #F2FAFF;  
}

/* For Internet Explorer and Edge */
body {
    -ms-overflow-style: -ms-autohiding-scrollbar;
}